

body {
    background-color: white;
    margin: 0px;
}

p {
    font-size: 18px;
}

#container {
    display: grid;
    grid-template-rows: 200px 1fr 100px;
    grid-auto-columns: 1fr;
    
}

#logo-nav {
    grid-area: 1/1/1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-nav h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    margin-bottom: 5px; /* Need to tinker with margins */
    text-decoration: underline;
    color: #632B30;

}

#logo-nav nav ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

#logo-nav nav ul li {
    margin-left:10px;
    margin-right: 10px;
}

#logo-nav nav a {
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    color: black;
}

#logo-nav nav a:hover {
    color:#E6AF2E;
    text-decoration: underline;
}

main {
    grid-area: 2/1/3/3;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main article figure {
    margin-left: 0;
}
main article figure img {
    width: 100%;
}

main article header h2 {
    margin: 0;
    font-size: 40px;
}

main article header span {
    text-transform: uppercase;
    color: #632B30;
}

main article {
    width: 60%;
    flex-shrink: 1;
    
}

article p {
    text-align: justify;
    margin-right: 20px;
}

article p span {
    font-weight: bold;
}

article blockquote {
    font-style: italic;
    color: #2274A5;
    z-index: 1;
    position: relative;
}

blockquote::before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .2; 
    z-index: -1;
    background: url(../images/quotes.png);
    background-repeat: no-repeat;
    background-size: contain;
  }

#side {
    width: 30%;
    margin-left: 50px;
    flex-shrink: 3;
    margin-right: 30px;
}

#side #author {
    border: 1px solid #eeedea;
    background-color: #fff;
    margin-bottom: 20px;
    background-color: rgb(231, 235, 144, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#side #author img {
    width: 50%;
    height: 30%;  
}

#side #author h5 {
    margin-bottom: 0;
}


#side #author p {
    text-align: justify;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

#side h4 {
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 0.1em;
    text-align: center;
}

#side #social {
    border: 1px solid #eeedea;
    background-color: #fff;
    margin-bottom: 20px;
    background-color: rgb(231, 235, 144, 0.1);
}

#side #social ul {
    list-style-type: none;
}

#side #social ul li {
    margin-bottom: 5px;
}


footer {
    grid-area: 3/1/4/3;
    background-color: #2274A5
}

footer p {
    color: #E6AF2E;
    text-align: center;
}
