
main {
    /*background-color: red;*/
    grid-area: 2/1/3/3;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-content: stretch;
    flex-wrap: wrap;
}

main .card {
    /*background-color: black;*/
    max-width: 400px;
    height: 400px;
    margin-bottom: 20px;
    border: 1px solid #eeedea;
    background-color: #fff;
}


h3 {
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 0px;
    margin-left: 20px;
}

.card p {
    margin-left: 21px;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #157A8C;
}

.card img {
    width: 350px;
    height: 280px;
    margin-left: 20px;
}

button {
    margin-left: 20px;
    border-radius: 3px;
    width: 60px;
    height: 30px;
    font-family: 'Libre Baskerville', serif;
    font-size: 15px;
    letter-spacing: 0.1em;
    background-color: #1A4969;
    cursor: pointer;
}

button a {
    color: white;
    text-decoration: none;
}

button a:hover {
    color: #E6AF2E;
}
